DB_HOST=postgres
DB_NAME=api
DB_USER=api-user
DB_PASSWORD=postgres12345
DB_PORT=5432
DB_PORT_EXT=54322

REDIS_HOST=redis
REDIS_PASSWORD=pass12345

STORAGE_URL="https://azurite:10000/devstoreaccount1"
ACCOUNT_NAME=devstoreaccount1
STORAGE_ACCOUNT_KEY="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="
FUNCTION_URL="http://functions:7071"
FUNCTION_KEY=mock-key
VISION_ENDPOINT=
VISION_APIKEY=
DOCUMENT_INTELLIGENCE_ENDPOINT=
DOCUMENT_INTELLIGENCE_APIKEY=
